@model List<WebsiteTN.ModelViews.CartItem>
@{
    ViewData["Title"] = "Xem giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="main-content">
    <div class="cart-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    @if (Model != null && Model.Count() > 0)
                    {
                        <form action="javascript:void(0)">
                            <div class="table-content table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="product_remove">Xóa</th>
                                            <th class="product-thumbnail">Ảnh</th>
                                            <th class="cart-product-name">Sản phẩm</th>
                                            <th class="product-price">Đơn giá</th>
                                            <th class="product-quantity">Số lượng</th>
                                            <th class="product-subtotal">Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null && Model.Count() > 0)
                                        {
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="product_remove">
                                                        <a href="javascript:void(0)">
                                                            <i class="pe-7s-close" title="Remove"></i>
                                                        </a>
                                                    </td>
                                                    <td class="product-thumbnail">
                                                        <a href="javascript:void(0)">
                                                            <img src="/images/post/@item.product.Thumb" alt="@item.product.Title">
                                                        </a>
                                                    </td>
                                                    <td class="product-name"><a href="javascript:void(0)">@item.product.ProductName</a></td>
                                                    <td class="product-price"><span class="amount">@item.product.Price.Value.ToString("#,##0") VNĐ</span></td>
                                                    <td class="quantity">
                                                        <div class="cart-plus-minus">
                                                            <input class="cart-plus-minus-box" value="1" type="text">
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal"><span class="amount">@item.TotalMoney.ToString("#,##0") VNĐ</span></td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="cart-page-total">
                                        <h2>Tổng tiền</h2>
                                        <ul>
                                            <li>Thành tiền <span></span></li>
                                            <li>Thanh toán<span>$118.60</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    {
                        <p>Chưa có hàng hóa trong giỏ hàng.Bạn hãy tích cực mua sắm đi nào</p>
                    }
                </div>
            </div>
        </div>
    </div>
</main>